.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
}

.projects span:nth-of-type(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.p-cards{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.p-card{
    display: flex;
    height: 50vh;
}

.p-card1{
    display: flex;
    flex-direction: row-reverse;
}

.p-card-left img{
    width: 40vw;
    height: 50vh;
    border-radius: 3%;
}
.p-card-right{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    gap: 1rem;
}

.p-card-right span:nth-child(1){
    font-size: 2rem;
}
.p-card-right span:nth-child(2){
    flex: 1;
    font-size: 1rem;
    width: 80%;
}

.p-buttons{
    margin-bottom: 1rem;
    display: flex;
    width: 60%;
    gap: 3rem;
}

@media screen and (max-width: 480px) {  
    .projects span:nth-of-type(1){
        font-size: 2rem;
    }

    .p-card{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .p-card1{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .p-card-left img{
        width: 100%;
        height: 30vh;
        border-radius: 3%;
    }

    .p-card-right{
        margin-left: 0;
        gap: 0.5rem;
    }

    .p-card-right span:nth-child(1){
        font-size: 30px;
    }
    .p-card-right span:nth-child(2){
        flex: 1;
        font-size: 16px;
        width: 100%;
    }
    .p-buttons{
        margin-top: 0.8rem;
        width: 100%;
        justify-content: space-evenly;
    }
  }