.skills{
    padding: 0rem 3rem 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 90vh;
    width: 75vw;
    margin-top: 8rem;
}

.awesome{
    display: flex;
    flex-direction: column;
}

.awesome>:nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome span span{
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .skills{
        margin-top: 15rem;
        height: 40rem;
        width: 100%;
        gap: 0;
        margin-left: 0;
        padding-left: 0;
    }
    .cards>*{
        margin: 0;
    }
  }